<div [hidden]="emailItems.length > 0" style="text-align: center;">
  <h1>No Email Items Created Yet</h1>
</div>

<div [hidden]="emailItems.length == 0">
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div fxLayoutAlign="start center">
    <button mat-raised-button color="primary" (click)="generateSpreadsheetUrl()"> Generate Spreadsheet File</button>
    </div>
    <div fxLayoutAlign="end center">
    <button mat-raised-button color="warn" (click)="clearAllEmailItems()"> Clear All Items </button>
    </div>
  </div>

  <div class="table-container mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <!-- Email Column -->
    <ng-container matColumnDef="email">
      <th mat-header-cell *matHeaderCellDef> Email </th>
      <td mat-cell style="padding: 10px" *matCellDef="let element"> {{element.email}} </td>
    </ng-container>

    <!-- Phone Column -->
    <ng-container matColumnDef="phone">
      <th mat-header-cell *matHeaderCellDef> Phone </th>
      <td mat-cell style="padding: 10px" *matCellDef="let element"> {{element.phone}} </td>
    </ng-container>

    <!-- Subject Column -->
    <ng-container matColumnDef="subject">
      <th mat-header-cell *matHeaderCellDef> Subject </th>
      <td mat-cell style="padding: 10px" *matCellDef="let element"> {{element.subject}} </td>
    </ng-container>

    <!-- Body Column -->
    <ng-container matColumnDef="body">
      <th mat-header-cell *matHeaderCellDef> Blurb </th>
      <td mat-cell style="padding: 10px" *matCellDef="let element"> {{element.body}} </td>
    </ng-container>

      <!-- Action Column -->
      <ng-container matColumnDef="action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let element">
          <button mat-button color="primary" (click)="openEmailItemDialog(element)">Edit</button>
          <button mat-button color="primary" (click)="openDeleteConfirmDialog(element)">Delete</button>
        </td>
      </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  </div>
</div>

