/* Structure */
.table-container {
  height: 700px;
  overflow: auto;
}

table {
  width: 100%;
}

.mat-form-field {
  font-size: 14px;
  width: 100%;
}

.padded-cell {
  font-size: 14px;
  width: 100%;
}

tr:hover {
  background: lightblue;
}
