<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px">
  <mat-form-field>
    <mat-label>Filter</mat-label>
    <input matInput (keyup)="applyFilter($event)" placeholder="Search">
  </mat-form-field>
  <button mat-button (click)="openDialog('Add',{})" mat-flat-button color="primary">Add Blurb</button>
</div>

<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="">

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell class="link-cursor" *matCellDef="let element" [routerLink]="'/createEmail/' + element.id"> {{element.name}} </td>
    </ng-container>

    <!-- Blurb Column -->
    <ng-container matColumnDef="blurb">
      <th mat-header-cell *matHeaderCellDef> Blurb </th>
      <td mat-cell class="link-cursor" style="padding: 10px" *matCellDef="let element" [routerLink]="'/createEmail/' + element.id"> {{element.blurb}} </td>
    </ng-container>

    <!-- Action Column -->
    <ng-container matColumnDef="action">
      <th mat-header-cell *matHeaderCellDef> Action </th>
      <td mat-cell *matCellDef="let element">
        <button mat-button color="primary" (click)="openDialog('Update', element)">Edit</button>
        <button mat-button color="primary" (click)="openDialog('Delete', element)">Delete</button>
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
