<h1 mat-dialog-title>{{ title }}</h1>

<div mat-dialog-content>
  <section fxLayout="row wrap" fxLayoutAlign="center center">
    <mat-card fxFlex="700px" fxFlex.xs="100%">
      <form [formGroup]="emailItemForm" autocomplete="off" novalidate
            fxLayout="column wrap" fxLayoutAlign="center center" fxLayoutGap="10px">

        <mat-card-content>
          <mat-form-field>
            <input matInput type="text" placeholder="Name" formControlName="name" id="name">
            <mat-error *ngIf="hasError('name', 'required')">Name is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Email" formControlName="email" id="email">
            <mat-error *ngIf="hasError('email', 'required')">Email is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <mat-label>Location</mat-label>
            <mat-select formControlName="location" id="location" (selectionChange)="buildBody()"
                        [compareWith]="compareLocations">
              <mat-option *ngFor="let location of locations" [value]="location">
                {{location.name}}
              </mat-option>
            </mat-select>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Phone Number" formControlName="phone">
            <mat-error *ngIf="hasError('phone', 'required')">Phone Number is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput type="text" placeholder="Years" formControlName="years" (keyup)="buildBody()">
            <mat-error *ngIf="hasError('years', 'required')">Years is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Company" formControlName="company" (keyup)="buildBody()">
            <mat-error *ngIf="hasError('company', 'required')">Company is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field>
            <input matInput type="text" placeholder="Industry" formControlName="industry" (keyup)="buildBody()">
            <mat-error *ngIf="hasError('industry', 'required')">Industry is required</mat-error>
          </mat-form-field>
          <mat-form-field>
            <input matInput type="text" placeholder="Subject" formControlName="subject" (keyup)="buildBody()">
            <mat-error *ngIf="hasError('subject', 'required')">Subject is required</mat-error>
          </mat-form-field>
          <br>
          <mat-form-field style="width: 600px">
            <textarea matInput type="text" placeholder="Email Body" formControlName="body" [rows]="10"
                      [contentEditable]="false"></textarea>
            <mat-error *ngIf="hasError('body', 'required')">Email Body is required</mat-error>
          </mat-form-field>
        </mat-card-content>

        <mat-card-actions>
          <mat-card-actions align="center">
            <button mat-raised-button (click)="doAction()" color="primary">{{ submitLabel }} Email Item</button>
            <button mat-button (click)="closeDialog()" mat-flat-button color="warn">Cancel</button>
          </mat-card-actions>
        </mat-card-actions>
      </form>
    </mat-card>
  </section>
</div>
